html {
  box-sizing: border-box;
}

.mainbox {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  background-color: #e3e4e5;
}

div > div {
  width: 200px;
  height: 200px;
}

.firstbox {
  position: absolute;
  background-color: #ffc9f6;
}

.secondbox {
  position: absolute;
  right: 0px;
  background-color: #ffe100;
}
