html {
  box-sizing: border-box;
}

.mainbox {
  width: 400px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  background-color: #e3e4e5;
}

div > div {
  width: 200px;
  height: 200px;
  position: absolute;
}

.firstbox {
  background-color: #ffc9f6;
}

.secondbox {
  right: 0px;
  background-color: #ffe100;
}

.thirdbox {
  left: 0px;
  bottom: 0px;
  background-color: #83bc64;
}

.fourthbox {
  right: 0px;
  bottom: 0px;
  background-color: #e5e5e5;
}
